DB_USER='user'
DB_PASSWORD='password'
DB_NAME='name'
DB_PORT=5433
ALGORITHM="algo"
SECRET='secret'
BASE_URL='base_url'
EMAIL_LOGIN='login'
EMAIL_PASSWORD='password'
SMTP_HOST='smtp.yandex.ru'
SMTP_PORT=465
code_expires_in=600
REDIS_HOST='host'
REDIS_PORT=6379
